workflow/IT-Benchmarking-Ollama.json
{
  "name": "IT-Benchmarking-Ollama",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d15a6547-dd1d-4031-b6fa-fe92165249eb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        16
      ],
      "id": "bd000ef7-1ad3-4dae-ab63-ba4ec9b47ee8",
      "name": "Webhook",
      "webhookId": "d15a6547-dd1d-4031-b6fa-fe92165249eb"
    },
    {
      "parameters": {
        "inputText": "={{ $json.body }}",
        "options": {
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "8ac0c3cd-2cbe-4257-a8a3-08b9fcdd4587",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"result\": \"{{ $json.output[0].content[0].text }}\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        16
      ],
      "id": "6f2c4f9d-15e9-4531-a7f7-b58e6aa48db3",
      "name": "Respond to Webhook",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "gemma3:27b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "984c97e5-164c-4f32-a0ca-2165b5588937",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "HI2j5rNK6ly5Gv9j",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this headline as REAL or FAKE.\n\nHeadline: {{ $json.body.title }}\nText: {{ $json.body.text }}\n\nYou can use the sentiment score to help your decision: {{ $json.sentimentAnalysis.category }}\n\nAlso use the Websearch Tool to get more Information on the news.\n\nAnswer only with: REAL or FAKE.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        16
      ],
      "id": "63a27e95-ff59-4404-910b-8be09023a667",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gemma3:12b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        368,
        272
      ],
      "id": "e45df439-e59e-49ad-b69e-15a3a75b83d6",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "HI2j5rNK6ly5Gv9j",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        512,
        272
      ],
      "id": "7c3eca1b-0742-4322-b9a8-aedf100cdd45",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "0NwwvXHDstXnAJ1K",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "85cba498-47cb-45bd-b93e-59a45f387351",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2c7a58135d09153587f89ad2b82285996ae686033ab3769f262322d5caaa221"
  },
  "id": "scxEbfg2zreHaHDP",
  "tags": []
}