workflow/n8n-workflows/IT-Benchmarking-ChatGPT.json
{
  "name": "IT-Benchmarking-ChatGPT",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=Classify this headline as REAL or FAKE.\n\nHeadline: {{ $json.body.title }}\nText: {{ $json.body.text }}\n\nYou can use the sentiment score to help your decision: {{ $json.sentimentAnalysis.category }}\n\nAnswer only with: REAL or FAKE."
            }
          ]
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "high"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        416,
        16
      ],
      "id": "abfd8804-7a6e-4de2-b390-83d08fd5f5bb",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Va8dfPsHOpVexesz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d15a6547-dd1d-4031-b6fa-fe92165249eb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        16
      ],
      "id": "60db8952-a416-47b1-b9e8-c6387736f76c",
      "name": "Webhook",
      "webhookId": "d15a6547-dd1d-4031-b6fa-fe92165249eb"
    },
    {
      "parameters": {
        "inputText": "={{ $json.body }}",
        "options": {
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "1b0e9811-36c5-4208-a6b5-c6383d6b7a96",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        0,
        240
      ],
      "id": "b04d9a89-165d-4c26-ab9f-60e2a025b9fc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Va8dfPsHOpVexesz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"result\": \"{{ $json.output[0].content[0].text }}\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        16
      ],
      "id": "d436db0a-7e10-422e-b152-be582829c344",
      "name": "Respond to Webhook",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "39ecce31-dcad-43c4-98f2-0c54722ff15c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2c7a58135d09153587f89ad2b82285996ae686033ab3769f262322d5caaa221"
  },
  "id": "nk0HKishGcsFzBjF",
  "tags": []
}